[user]
	name = Gabbi Gonzalez
	email = ggonzalez@newrelic.com
[init]
	defaultBranch = main
[alias]
	co = checkout
	b = branch
	st = status
	logp = log --oneline --graph
	cu = branch --merged main | grep -v '^[ *]*main$' | xargs git branch -d
