[user]
	name = Gabbi Gonzalez
	email = gabxgonz@gmail.com
[alias]
	co = checkout
	b = branch
	st = status
	logp = log --oneline --graph
	cu = branch --merged main | grep -v '^[ *]*main$' | xargs git branch -d
[lfs "customtransfer.lfs-folder"]
	path = lfs-folderstore
	args = ~/google-drive/game-dev/lfs-sync
[lfs]
	standalonetransferagent = lfs-folder
